.mainPic{

}
.myName {
  font-size: 50px;
  text-decoration: underline;
  margin: 10px;
  font-family: 'Arimo', sans-serif;
}

.myFace {
  height: 200px;
  border-radius: 100%; // full circular image
  padding:4px;
   border:4px solid #021a40;
   background-color:white;
}

body {
  cursor: pointer;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url("../img/AboutMe.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}


p {
  text-align: left;
}

img {
  z-index: 1000;
  border-radius: 100%; // full circular image
  padding:4px;
   border:4px solid #021a40;
   background-color:white;
}


* {
  padding : 0;
  margin  : 0;
  border  : 0;
}


nav {
  width : 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
nav::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  opacity: .6;
  z-index: -1;
  -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
   filter: blur(1px);
  background-color: black;
}
.menuItem {
  margin: 3px 10px 1px 10px;
  padding: 3px;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px black;
}

.menuItem:hover {
  background-color: inherit;
    color: lightgrey;
}

.aboutMeBlurb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 30px 20px 30px;
  height:auto;
  width: auto;
  margin: 0px auto auto auto;
  width: 55%;
  font-size: 28px;
  color: black;
  background-color: white;
 box-shadow: 10px 10px 5px black;
 border-radius: 5px;
 opacity: .9;
}





li {
  border-radius: 100%; // full circular image
  z-index: 1000;
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
  float       : left;
  position    : relative;
  margin-left : 50px;
  cursor      : pointer;
  height : 300px;
  list-style-type    : none;
  transition : margin .1s ,padding .1s ,border 1s;

}

li:first-child {
  margin-left : 20px;
  vertical-align: middle;
}

li:hover {
  margin-top           : -25px;
  box-shadow         : 0 50px 50px -10px black;
  transition : margin .2s ,padding .2s;

}

.normal {
  margin: 0;
  padding: 0;
  display: inline;
  color: red;
}
.normal:hover {
  text-decoration: underline;
}
a {
  display : block;
  text-decoration : none;
  text-align      : center;
}

a span {
  text-shadow : 1px 1px 1px #FFF;
  color       : #857e74;
  transition  : all .2s;
}

a span:first-child {
  font-size   : 33px;
  display     : block;
  margin-bottom: 4px;;
}

a span:last-child {
  text-transform : capitalize;
  font-family    : 'Georgia';
  font-size      : 11px;
  letter-spacing : 1px;
  font-style     : italic;
  color        : #6488ba;
}

li:hover span {
  transition : all .2s;
}

li:hover a span:first-child {
  color : #6488ba;
  text-shadow  : 1px 1px 1px #FFF , 0 0 1px #6488ba;
}

li:hover a span:last-child {
  color : #857e74;
}



* {
  box-sizing: border-box; }

/*html, body {
  font-size: 10px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 150%; }*/

/*div {
  height: 100%; }*/

canvas {
  z-index: -900;
    width : 100%;
    display: flex;
    position: absolute;
    /*background: inherit;*/
    /*height : 400px;*/
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-image: url("../img/GreyConcrete.jpg");
  /*background-image: url("img/RedWhiteSplash.jpg");*/
  background-size:cover;


}
